data {{ .InstType }} =
{{- range $name, $instr := .Instrs }}
  {{ (makeRecord $name $instr) }} |
{{- end }}
  InvalidInstruction deriving (Show)

decode :: Word32 -> {{ .InstType }}
decode instrWord
{{- range $name, $instr := .Instrs }}
  | instrWord .&. {{ .RawMask }} == {{ .RawMatch }} = {{ (makeConstructor $name $instr) }}
{{- end }}
