name: Haskell CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: "alpine"

    steps:
      - name: prep alpine
        run: |
          apk add build-base newlib-riscv-none-elf ghc cabal wget libffi-dev git
      - name: checkout
        uses: actions/checkout@v3
      - name: checkout submodules
        run: git submodule update --init --recursive
      - name: install Haskell dependencies
        run: |
          cabal update
          cabal build --only-dependencies
      - name: build and install riscv-tiny
        run: |
          cabal install
      - name: build riscv-tests executor
        run: |
          cd riscv-tests
          cabal build
      - name: compile and run riscv-tests
        run: env RISCV_PREFIX=riscv-none-elf- ./riscv-tests/run.sh
